## Numbers

In [2]:
my_number = 12345

In [3]:
type(my_number)

int

In [4]:
my_float = 3.14
print(type(my_float))
print(my_float)

<class 'float'>
3.14

In [5]:
15 + 5

20

In [6]:
14 - 3

11

In [7]:
15 + 3.3

18.3

In [8]:
15.0 + 2

17.0

In [9]:

6 * 3.0

18.0

In [10]:
6 / 5

1.2

In [11]:
6 / 3

2.0

In [12]:
6 // 5   # floor

1

In [14]:
8 % 2 # mod alma

0

### Another way to look at module

In [15]:
whole_part = int(5 / 3)
decimal_part = 5 / 3 - whole_part
print(decimal_part)

0.6666666666666667

In [16]:
whole_remainder = decimal_part * 3
print(whole_remainder)

2.0

In [18]:
2 ** 3

8

In [19]:
4 ** 0.5

2.0

In [20]:
int(3.45)

3

In [21]:
float(14)

14.0

In [22]:
round(3.1415, 2)

3.14

In [23]:
print(type(round(3.1415)))

<class 'int'>

In [24]:
import math

In [25]:
print(math.floor(3.99999))

3

In [26]:
2 + 3 * 4

14

In [27]:
(2 + 3) * 4

20

In [28]:
0.1 * 3

0.30000000000000004

In [29]:
# decimal modülünden Decimal class'ını çağırma
from decimal import Decimal

In [31]:
# class isimleri büyük harfle başlar
Decimal('0.1') * 3

Decimal('0.3')

In [32]:
import random 
random.randint(0, 99)

75

### Strings

In [34]:
my_string = 'my text is "important"'
print(my_string)

my text is "important"

In [36]:
long_string = ''' 
###
text

      example

'''
print(long_string)

###
text

      example

In [37]:
str(my_number)
print(type(my_number))

<class 'int'>

In [38]:
my_number = 42
my_number = str(my_number)
print(type(my_number))

<class 'str'>

In [39]:
print(my_string)
print(my_string[-1])

my text is "important"
"

In [40]:
len(my_string[-1])

1

### Slice

<str>[<start>:stop:<step>]

In [43]:
my_string[1:4] # 1,2,3. indexi gösteriyor

'y t'

In [44]:
my_string[:4]   # 3. indekse kadar yazdırdı

'my t'

In [45]:
my_string[1:]

'y text is "important"'

In [46]:
my_string[::2]   # ikişer atlaya atlaya yazdırıyor

'm eti iprat'

In [47]:
# bir stringi hızlıca ters çevirme 
my_string[::-1]

'"tnatropmi" si txet ym'

In [48]:
# stringi ayırma yöntemi 
my_string.split()

['my', 'text', 'is', '"important"']

In [49]:
animals = ["cat", "dog", "horse"]

In [51]:
" ".join(animals)
# join ile animals listesindeki değerleri  boşluk ile birleştirdi

'cat dog horse'

In [52]:
", ".join(animals)

'cat, dog, horse'

In [54]:
# my stringteki elemanları item ile tutup teker teker yazdırdı
for item in my_string:
    print(item)

m
y

t
e
x
t

i
s

"
i
m
p
o
r
t
a
n
t
"

### Fstring

In [56]:
name = "Merve"
age = 26
print(f"My name is {name} and my age is {age}.")

My name is Merve and my age is 26.

In [57]:
import datetime

In [59]:
# modül içindeki metoda ulaşma datetime.datetime
today = datetime.datetime.today()
print(today)

2023-12-29 13:13:34.522751

In [62]:
print(f"{today: %d %B %Y}")

 29 December 2023

### Boolean

In [63]:
bool(1)

True

In [64]:
bool(0)

False

In [65]:
my_variable = 0
if my_variable:
    print("yes it is true")
else:
    print("no it is false")

no it is false

In [66]:
my_variable is True

False